body {
    color: #fff ;
    background-color: #161120;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    background-color: #1a014b;
    height: 50px;
    
}
ul {
    margin: 0;
    
    padding: 0;
    list-style-type: none;
    text-align: center;
}
.onnav {
    margin-left: 7px;
    margin-right: 7px;
    display: inline-block;
    margin-top: 15px;
    
}
a {
    color: #fff ;
    text-decoration: none;

}
a:hover {
    text-decoration: underline;
}
h3 {
    padding-top: 10px;
    text-align: center;
}
#Home {
    background-image: url("img/code_programming_monitor_209719_3840x2160.jpg");
    background-repeat:no-repeat;
    background-size: 100%;

}
.heada {
    padding: 50px;
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 250px;
    width: 250px;

}
.Nametitle{
 text-align: center;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: #6e50ab; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 18px; /* Increase font size */
  }
  
  #myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
  }

  .AboutContainer 
    {
        width: 70%;
        height: 90%;
        border-radius: 30px;
        background-color: #211439;
        margin: 0 auto;
        overflow-y: scroll;
    }

.IAbout {
    white-space: pre;
    margin-top: -30px;
    margin-left: -130px;
    display: block;
    font-size: 16px;

}
.IAboutmobile {
    display: none;
visibility: hidden;
}
#Skills {
    height: 350px;
    
}

.ISkill {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
    width: 40%;
    height: 50%;
    border-radius: 30px;
    background-color: #211439;
    overflow-y: scroll;
    text-align: center;
}
#Creation {
    margin-top: 100px;
}
.listtitless {
    text-align: center;
}
.projectlist{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    width: 30%;
    height: 60%;
    text-align: center;
}
.listed {
    margin-top: 50px;
    padding: 10px;
    border-radius: 30px;
    background-color: #211439;
    height: 70px;

    
}
#more 
    {display: none;}
#morebtn {
    border-radius: 3px;
    width: 140px;
    height: 40px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: none;
    background-color: #593a92;
    color: #fff;
}
.imgmedia {
    height: 70px;
    width: 70px;
}
.divMedia {
    text-align: center;
}
.liMedia {
    display: inline-block;
    margin: 10px;
    
}
footer {
    margin-top: 50px;
    background-color: #1a014b;
    height: 70px;
    padding: 50px;
}
#myBtn {
    opacity: 100%;
}
.ISkillmobile {
    display: none;
    visibility: hidden;
}
@media
(prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

  @media screen and (min-width: 300px) and (max-width: 1000px) {
    .onnav {
        margin-left: 5px;
        margin-right: 5px;
        display: inline-block;
        margin-top: 15px;
        font-size: small;
    }
    .IAboutmobile {
        display: block;
        visibility: visible;
        white-space: pre;
        margin-top: -30px;
        margin-left: -110px;
        font-size: 14px;
    }
    .AboutContainer 
    {
        width: 90%;
        height: 70%;
        border-radius: 30px;
        background-color: #211439;
        margin: 0 auto;
        overflow-y: scroll;
    }
    .IAbout {
        display: none;
        visibility: hidden;
    }
    .heada {
        padding: 50px;
        border-radius: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
        height: 150px;
        width: 150px;
    
    }
    #Creation {
        margin-top: 250px;
    }
    .ISkillmobile {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 100px;
        width: 70%;
        height: 50%;
        border-radius: 30px;
        background-color: #211439;
        overflow-y: scroll;
        text-align: center;
        display: block;
        visibility: visible;
        font-size: 13px;
    }
    .ISkill {
        display: none;
        visibility: hidden;
    }
    #Creation {
        margin-top: 50px;
        width: 100%;
    }
    .projectlist {
        margin-top: 10px;
        width: 60%;
        
    }
    .listed {
        height: 100px;
    }
    #myBtn {
        opacity: 60%;
    }
    .imgmedia {
        height: 40px;
        width: 40px;
    }
  }

  